@page "/terms"

<h1>Käyttöehdot</h1>

<h1>Sivuston käyttöehdot:</h1>
<p>Jos käytät tätä sivustoa, muista että sen käyttö on käyttäjän vastuulla. Järjestö ei ole vastuussa mistään vahingoista tai haitoista, joita saattaa aiheutua sivuston käytöstä. Sivuston ylläpitäjä ei ole vastuussa mistään tietoturvasta tai mahdollisista vahingoista, joita voi aiheutua sivuston käytöstä. Käyttäjä on yksin vastuussa sivuston käytöstä ja sen vaikutuksista Häneen tai hänen lähimmäisien turvallisuuteen, mielenterveyteen ja fyysiseen kärsimykseen.</p>
<p>Huomioithan, että ei ole järkevää käyttää kyseisen sivun kaltaisia sivuja, sillä juuri tämänlaisten sivujen vuoksi kiristäjiä on liikkeellä. Käyttäjän tulee noudattaa asianmukaisia varotoimia ja käyttää tervettä järkeä sivuston käytössä.</p>
<p>Tämän sivuston käyttö on käyttäjän vastuulla, ja käyttäjän tulee noudattaa asianmukaisia varotoimia ja käyttää tervettä järkeä sen käytössä. Huomioithan, että ei ole järkevää käyttää tätä sivustoa pyöräillessäsi, sillä keskittyminen tiellä liikkumiseen on tärkeää ja vaaratilanteet voivat aiheuttaa vakavia seurauksia.</p>
<p>Pyöräily on tarkoitettu hauskanpitoon, rentoutumiseen ja nauttimiseen luonnosta. Sivuston käyttö ei ole tarkoitettu pyöräilyyn ja sen käyttö pyöräillessä voi olla erittäin vaarallista. Muista aina pitää kivaa pyöräillessäsi ja jättää internetin käyttö kotiin.</p>
<p>Sivuston ylläpitäjä ei ole vastuussa mistään vahingoista tai haitoista, joita voi aiheutua sen käytöstä pyöräillessä. Käyttäjä on yksin vastuussa sivuston käytöstä ja sen vaikutuksista. Suosittelemme välttämään sivuston käyttöä pyöräillessä ja keskittymään nauttimaan luonnosta ja pyöräilystä.</p>
<p>Jos kuitenkin päätät käyttää sivustoa pyöräilyretkelläsi, suosittelemme hankkimaan myös kaksi henkivakuutusta ja varoittamaan läheisiäsi mahdollisesta vaarasta. Voit myös kertoa pyöräillessäsi vitsin, jotta nauru pidentää ikääsi ja parantaa turvallisuuttasi.</p>
<p>Jos kuitenkin päätät lopettaa sivuston käytön, tulee sinun maksaa nimelleni 1000€ korvaus sivuston kehittäjille, sekä varautua jopa viiden vuoden käsittelyaikaan. Lopputulema ei välttämättä ole sinulle mieluinen, ja mitä todennäköisimmin tietosi tullaan myymään rikollisille. Hengittämällä hyväksyt ehdot.</p>
<h2>Osallistumiseen liittyvät käyttöehdot:</h2>
<p>Käyttäjä sitoutuu aina noudattamaan seuraavia sääntöjä osallistuessaan Kuopion kulkijoidentapahtumiin:</p>
<ul>
	<li>Pyöräily on hauskaa ja turvallisuus on tärkeä osa sitä.</li>
	<li>Osallistuessasi pyöräilytapahtumaan, olet tietoinen siitä, että pyöräily on luonnollisesti riskialtista ja että olet vastuussa omasta turvallisuudestasi.</li>
	<li>Varmista, että pyöräsi ja varusteesi ovat turvallisessa kunnossa ja että olet riittävän koulutettu ja kokematon pyöräillä tapahtumassa.</li>
	<li>Tottumattomille pyöräilijöille on tärkeää muistaa turvallisuusasioita. Älä koskaan käytä puhelinta ajaessasi, sillä se häiritsee keskittymistäsi ja lisää riskiä onnettomuuksille. Myös juomista ja ajamista on syytä välttää, sillä se heikentää reaktiokykyäsi ja koordinointiasi. Sen sijaan juokseminen on paljon turvallisempaa vaihtoehto.</li>
	<li>Huolehdi pyöräsi huolellisesti, sillä se pitää sinut turvassa. Tarkista aina ennen ajoon lähtöä, että pyörän renkaat ovat kunnossa ja jarrut toimivat moitteettomasti. Muista myös noudattaa kaikkia liikennesääntöjä ja käyttää aina suojavarusteita, kuten kypärää ja heijastinliiviä.</li>
	<li>Järjestö ei ole vastuussa mistään vammasta, loukkaantumisesta tai kuolemasta, joka aiheutuu osallistujan omasta huolimattomuudesta tai laiminlyönnistä. Järjestö ei myöskään ole vastuussa mistään vahinkoista tai tappioista, jotka aiheutuvat osallistujan pyörän tai varusteiden rikkoontumisesta tai hukkumisesta tai osallistujan hukkumisesta.</li>
	<li>Pyöräily on turvallista ja hauskaa, kun muistat noudattaa turvallisuusohjeita ja olla vastuullinen pyöräilijä.</li>
	<li>Osallistumalla tapahtumaan, hyväksyt tämän vastuuvapautuksen ja vakuutat, että olet lukenut ja ymmärtänyt sen sisällön.</li>
	<li>Järjestöllä on oikeus poistaa osallistuja tapahtumasta, jos osallistuja ei noudata tapahtuman sääntöjä tai jos hänen käytöksensä on vaarallista muille osallistujille.</li>
</ul>



@code {

}
